.login{
    position: relative;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('');
}
.login-title{
    font-size: 30px;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2rem;
    
}
.login-box{
    position: relative;
    display: flex;
    text-align: center;
    background-color: rgb(250, 247, 244);
    border-radius: 1rem;
    margin-top: 10px;

}
.login-input{
    background: none;
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 19rem;
    border: 3px solid transparent;
    z-index: 1;
    transition: border-color .4s;
    font-size: 20px;
}
.login-input:autofill{
    transition: background-color 6000s color 6000s;
}
.login-labe{
    position: absolute;
    left: 1.25rem;
    font-weight: var(--font-semi-bold);
    transition: transform .4s, font-size .4s, color .4s;
}

.login-icon{
    position: absolute;
    right: 1rem;
    font-size: 1.25rem;
    transition: color .4s;
}
.login-password{
    cursor: pointer;
    z-index: 10;
}
.login-forgot{
    display: block;
    margin: 1rem 0 0 auto;
    font-size: smaller;
    font-weight: 2px;

}
.login-forgot:hover{
    color: rgb(0, 0, 0);
}
.login-button{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(82, 169, 250);
    color: white;
    font-weight: bolder;
    padding-block: 1.5rem;
    border: none;
    border-radius: 4rem;
    margin-block: 2rem;
    cursor: pointer;
    transition: background-color .4s box-shadow .4s;

}
.login-button:hover{
    background-color: rgb(67, 152, 231);
    box-shadow: 0 8px 24px hsla(208, 92%, 32%, .3);
}
.login-social{
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);

}
.login-social-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: thistle;
    margin-bottom: 1rem;
}
.login-social-img{
   width: 1rem;

}
.login-social-links{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}
.login-social-link{
    width: 32px;
    height: 32px;
    background-color: rgb(224, 245, 245);
    box-shadow: 0.4px 8px hsla(0, 0% 0%, .1);
    border-radius: .5rem;
    display: grid;
    place-items: center;
    transition: transform .4s;
}

.login-social-link:hover{
    transform: translateY(-.25rem);
}
.login-switch{
    text-align: center;
    font-size: small;
}
.login-switch button{
    background: none;
    color: rgb(86, 125, 255);
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
    border: none;
}
.login-switch button:hover{
    color: rgb(212, 0, 255);
}
.login-input:focus ~ .login-label,
.login-input:focus ~ .login-icon{
    color: aqua;
}